@-ms-viewport {
  height: device-height;
}

body {
  background-color: black
}

.large_ads {
  height: 98vh;
  width: 64vw;
  float: left
}

.subad_1 {
  height: 49vh;
  width: 33vw;
  float: right;
}

.subad_2 {
  height: 49vh;
  width: 33vw;
  float: right;
}

.image {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
