@-ms-viewport {
  height: device-height;
}

body {
  background-color: black
}

.large_ads {
  height: 100vh;
  width: 65vw;
  float: left
}

.subad_1 {
  height: 50vh;
  width: 33vw;
  float: right;
}

.subad_2 {
  height: 50vh;
  width: 33vw;
  float: right;
}

.image {
  height: 100%;
  width: 100%;
}
